#!/bin/sh

export NETIO_NETMAP={{ docker.workdir }}/NETMAP

{% for item in instances %}
wrapper-linux -m {{ docker.workdir }}/{{ item.image }} -p {{ item.console_to_telnet_port }} -- -e {{ item.ethernet_boards }} -s {{ item.serial_boards }} {% if item.config is defined %}-c {{ docker.workdir }}/{{ item.config }}{% endif %} -n 256 {{ item.number }} &
sleep 10
{% endfor %}
